<div class="banner1">
    <div class="container">
      <h3><a routerLink="/content">Home</a> / <span>Products</span></h3>
    </div>
  </div>
<div class="content">
  <div class="products-agileinfo">
    <h2 class="tittle">Products</h2>
    <div class="container">
      <div class="product-agileinfo-grids w3l">
        <div class="col-md-3 product-agileinfo-grid">
          <div class="categories">
            <h3>Categories</h3>
            <ul class="tree-list-pad">
              <li><input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><span></span>Mutton</label>
                <ul>
                  <li><input type="checkbox" id="item-0-0" /><label for="item-0-0">Mutton Boneless</label></li>
                  <li><input type="checkbox" id="item-0-1" /><label for="item-0-1">Mutton Kheema</label></li>
                  <li><input type="checkbox" id="item-0-2" /><label for="item-0-2">Mutton Liver</label></li>
                  <li><input type="checkbox" id="item-0-2" /><label for="item-0-2">Mutton Bones</label></li>
                  <li><input type="checkbox" id="item-0-2" /><label for="item-0-2">Mutton Head</label></li>
                </ul>
              </li>
              <li><input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><span></span>Chicken</label>
                <ul>
                  <li><input type="checkbox" id="item-0-0" /><label for="item-0-0">Chicken Boneless</label></li>
                  <li><input type="checkbox" id="item-0-1" /><label for="item-0-1">Chicken Legs</label></li>
                  <li><input type="checkbox" id="item-0-2" /><label for="item-0-2">Chicken Thighs</label></li>
                  <li><input type="checkbox" id="item-0-2" /><label for="item-0-2">Chicken Chops</label></li>
                  <li><input type="checkbox" id="item-0-2" /><label for="item-0-2">Chicken Kheema</label></li>
                </ul>
              </li> 
              <li><input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><span></span>Eggs</label>
                <ul>
                  <li><input type="checkbox" id="item-0-0" /><label for="item-0-0">Broiler Eggs</label></li>
                  <li><input type="checkbox" id="item-0-1" /><label for="item-0-1">Country Chicken Eggs</label></li>                 
                </ul>
              </li>              
            </ul>
          </div>          
         
        </div>
        <div class="col-md-9 product-agileinfon-grid1 w3l">          

          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav1 nav1-tabs left-tab" role="tablist">
              <ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab"
                    aria-controls="home" aria-expanded="true"><img src="assets/images/menu1.png"></a></li>
                <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><img
                      src="assets/images/menu.png"></a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                  <div class="product-tab">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/p6.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/p5.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6> <a routerLink="/single">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/p21.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/p22.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a routerLink="/single">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/p14.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/p13.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a routerLink="/single">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="product-tab prod1">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i2.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i1.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a routerLink="/single">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i4.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i3.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a routerLink="/single">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i6.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i5.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a routerLink="/single">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="product-tab">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i8.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i7.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a routerLink="/single">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i10.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i9.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i12.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i11.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="product-tab prod2">
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i8.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i7.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i14.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i13.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i2.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i1.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                        <div class="block">
                          <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                          <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                          <span class="size">XL / XXL / S </span>
                          <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                          <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                  <div class="product-tab1">
                    <div class="col-md-4 product-tab1-grid">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/p6.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/p5.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                      <div class="block">
                        <div class="starbox small ghosting"> </div>
                      </div>
                      <div class="women">
                        <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                        <span class="size">XL / XXL / S </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi
                          etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis
                          non equidem recuso, sed te adiungo socium. </p>
                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="product-tab1 prod3">
                    <div class="col-md-4 product-tab1-grid">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i2.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i1.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                      <div class="block">
                        <div class="starbox small ghosting"> </div>
                      </div>
                      <div class="women">
                        <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                        <span class="size">XL / XXL / S </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi
                          etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis
                          non equidem recuso, sed te adiungo socium. </p>
                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="product-tab1">
                    <div class="col-md-4 product-tab1-grid">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i4.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i3.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                      <div class="block">
                        <div class="starbox small ghosting"> </div>
                      </div>
                      <div class="women">
                        <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                        <span class="size">XL / XXL / S </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi
                          etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis
                          non equidem recuso, sed te adiungo socium. </p>
                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="product-tab1 prod3">
                    <div class="col-md-4 product-tab1-grid">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i6.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i5.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                      <div class="block">
                        <div class="starbox small ghosting"> </div>
                      </div>
                      <div class="women">
                        <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                        <span class="size">XL / XXL / S </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi
                          etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis
                          non equidem recuso, sed te adiungo socium. </p>
                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="product-tab1">
                    <div class="col-md-4 product-tab1-grid">
                      <div class="grid-arr">
                        <div class="grid-arrival">
                          <figure>
                            <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                              <div class="grid-img">
                                <img src="assets/images/i8.jpg" class="img-responsive" alt="">
                              </div>
                              <div class="grid-img">
                                <img src="assets/images/i7.jpg" class="img-responsive" alt="">
                              </div>
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                      <div class="block">
                        <div class="starbox small ghosting"> </div>
                      </div>
                      <div class="women">
                        <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                        <span class="size">XL / XXL / S </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi
                          etiam atque etiam confirmandus, inquam; Refert tamen, quo modo. Quod autem meum munus dicis
                          non equidem recuso, sed te adiungo socium. </p>
                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>      
</div>